/* Syles for username page */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-image: url(../components/images/background.png);
}

.inner-container {
  width: 50%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inner-container h2,
.container h2 {
  font-size: 101px;
  font-weight: 800;
  color: #d98b88;
  font-family: "Londrina Solid", sans-serif;
  font-weight: 400;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #e8e7e7;
  padding: 2rem;
  border-radius: 15px;
  height: 30%;
  width: 60%;
}

.form-container input {
  height: 35px;
  width: 60%;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #344756;
}

.form-container .form-label {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #344756;
}

.form-container .btn,
.start-btn {
  display: inline-block;
  background-color: #8caf89;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 12px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 25px;
  font-weight: bold;
  margin: 4px 2px;
  cursor: pointer;
  font-family: "Londrina Solid", sans-serif;
  font-weight: 400;
  transition: box-shadow 0.2s ease-in-out;
}

.btn:hover {
  /* background: #fff;
    color: #93AE8C; */
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5),
    -0.125rem -0.125rem 1rem rgba(239, 71, 101, 0.5),
    0.125rem 0.125rem 1rem rgba(255, 154, 90, 0.5);
}
