body.active-modal {
  overflow-y: hidden;
}

.open-modal {
  padding: 10px 20px;
  display: block;
  margin: 100px auto 0;
  font-size: 18px;
}

.overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  z-index: -1;
}

.modal {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  z-index: 1;
}

.overlay {
  background: rgba(49, 49, 49, 0.8);
}

.modal-info {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 0.32px;
  width: 440px;
}

.popup-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  max-width: 739px;
  width: 100%;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  background: #ffffff;
  padding: 14px 28px;
  border-radius: 20px;
  min-width: 300px;
}
.buttons {
  display: flex;
  flex-direction: row;
  padding-bottom: 40px;
  padding-top: 20px;
}

.close-modal {
  top: 10px;
  left: 30px;
  right: 10px;
  padding: 5px 7px;
  width: 226px;
  height: 62px;
  border-radius: 8px;
  border: none;
  text-align: center;
  font-family: "Londrina solid", sans-serif;
  font-size: 30px;
  font-weight: 300;
  letter-spacing: 0.32px;
  background: #dbe1de;
  margin-right: 40px;
}

.close-modal:hover {
  background: #d2d2d2;
  cursor: pointer;
}

.exit-btn {
  top: 10px;
  left: 30px;
  right: 10px;
  padding: 5px 7px;
  width: 226px;
  height: 62px;
  border-radius: 8px;
  border: none;
  text-align: center;
  font-family: "Londrina solid", sans-serif;
  font-size: 30px;
  font-weight: 300;
  letter-spacing: 0.32px;
  background: #e68686;
  color: #ffffff;
}

.exit-btn:hover {
  background: #bc5a5a;
  cursor: pointer;
}

.modal-xmark {
  display: flex;
  align-self: end;
  padding-right: 40px;
  position: absolute;
}

/* .xmark {
   display: flex;
   justify-content: flex-end;
   padding: 10px 20px;
} */

.xmark:hover {
  cursor: pointer;
  color: rgb(110, 110, 110);
}
