body.active-modal {
  overflow-y: hidden;
}

.open-modal {
  padding: 10px 20px;
  display: block;
  margin: 100px auto 0;
  font-size: 18px;
}

.overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  z-index: -1;
}

.modal {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  z-index: 1;
}

.overlay {
  background: rgba(49, 49, 49, 0.8);
}

.modal-info {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 0.32px;
  width: 440px;
}

.popup-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  max-width: 739px;
  width: 100%;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  background: #ffffff;
  padding: 14px 28px;
  border-radius: 20px;
  min-width: 300px;
  color: #344756;
}
.buttons {
  display: flex;
  flex-direction: row;
  padding-bottom: 40px;
  padding-top: 20px;
}
/*Created btn-modal, so we don't need to write the same codes for close-modal and exit-btn*/
.btn-modal {
  width: 226px;
  height: 62px;
  border-radius: 8px;
  border: none;
  text-align: center;
  font-family: "Londrina solid", sans-serif;
  font-size: 30px;
  font-weight: 300;
  letter-spacing: 0.32px;
}

.close-modal {
  background: #bdbdbd;
  margin-right: 40px;
}

.close-modal:hover {
  background: #999595;
  cursor: pointer;
}

.exit-btn {
  background: #e68686;
  color: #ffffff;
}

.exit-btn:hover {
  background: #bc5a5a;
  cursor: pointer;
}

.modal-xmark {
  display: flex;
  align-self: end;
}

.modal-xmark:hover {
  cursor: pointer;
  color: rgb(110, 110, 110);
}

/*Responsive design*/
/*Tablet*/
@media (max-width: 800px) {
  .popup-content {
    max-width: 600px;
  }
}
@media (max-width: 700px) {
  .popup-content {
    max-width: 500px;
  }

  .modal-info {
    font-size: 18px;
  }
  .btn-modal {
    width: 160px;
    height: 50px;
    font-size: 23px;
  }
}
@media (max-width: 550px) {
  .popup-content {
    max-width: 400px;
  }
  .modal-info {
    padding: 0 30px;
  }
  .btn-modal {
    width: 130px;
    height: 50px;
    font-size: 20px;
  }
}
@media (max-width: 440px) {
  .popup-content {
    max-width: 270px;
  }
  .modal-info {
    font-size: 16px;
    width: 320px;
  }
  .btn-modal {
    width: 100px;
    height: 40px;
    font-size: 18px;
  }
}
