.wrapper {
  width: 90%;
  height: 100%;
  background-color: #ebebeb;
}

.btn-grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 15px;
  margin: 30px 0;
}

.question-card {
  width: 100%;
  padding: 10px;
}

.question-card .questions {
  margin-top: 7%;
}

.answer-buttons .btn {
  border: 1px solid black;
  background-color: #f5f3f3;
  border-radius: 5px;
  padding: 20px 20px;
  margin: 1%;
  text-align: justify;
  cursor: pointer;
}

.next-btn {
  display: inline-block;
  background-color: #8caf89;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 8px 30px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  margin: 0px 4px;
  cursor: pointer;
  font-family: "Londrina Solid", sans-serif;
  font-weight: 400;
  transition: box-shadow 0.2s ease-in-out;
}

.next-btn:hover {
  background-color: #69d38a;
}
