/* Syles for start page */

.start-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 600px;
  height: auto;
  background-color: #e8e7e7;
  border-radius: 15px;
}

.welcome-text {
  text-align: center;
  width: 100%;
  max-width: 500px;
  padding: 20px 0;
  font-size: 24px;
  line-height: 2.5rem;
  letter-spacing: 1.3px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #344756;
}

.start-btn {
  padding: 12px 50px;
  margin-bottom: 20px;
}

.introtext {
  padding-top: 30px;
}

/*Responsive design*/
/*Tablet*/
@media (max-width: 700px) {
  .start-container {
    max-width: 450px;
  }
  .welcome-text {
    font-size: 20px;
    max-width: 380px;
    line-height: 1.7;
  }
}
@media (max-width: 500px) {
  .start-container {
    max-width: 370px;
  }
  .welcome-text {
    font-size: 18px;
    max-width: 300px;
  }
}
@media (max-width: 400px) {
  .start-container {
    max-width: 290px;
  }
  .welcome-text {
    font-size: 16px;
    max-width: 250px;
  }
  .start-btn {
    font-size: 16px;
    padding: 7px 20px;
  }
}
